


/*Moive S - 320px*/
@media screen and (min-width:320px){
  .sound-button{
    position: absolute;
    top: 100px; left: 0px;
    width: 0%;
    gap: 0%;
    display: inline-grid;
    grid-template-columns:repeat(4,1fr);
}
}
/*Mobile M - 375px*/
@media (min-width:375px) {
.sound-button {
  position: absolute;
  top: 100px; left: 0px;
  width: 0%;
  gap: 0;
  max-width: 480px;
  display: inline-grid;
  grid-template-columns:repeat(5, 1fr);
}
}

/*Mobile L - 425px*/
@media (min-width:425px)  {
.sound-button {
  position: absolute;
  top: 100px; left: 20px;
  width: 0%;
  gap: 0;
  display: inline-grid;
  grid-template-columns:repeat(6, 1fr);
}
}

/*Tablet - 768px */
@media (min-width:768px)  {
.sound-button {
  position: absolute;
  top: 100px; left: 25px;
  width: 0%;
  gap: 0;
  display: inline-grid;
  grid-template-columns:repeat(7, 1fr);
}
}

/* Laptop - 1024px */
@media (min-width:1024px) {
.sound-button{
  position: absolute;
  top: 100px; left: 105px;
  width: 0%;
  gap: 0;
  display:inline-grid;
  grid-template-columns:repeat(8, 1fr);
}
}

/* Laptop L - 1440px */
@media (min-width:1440px) {
.sound-button {
  position: absolute;
  top: 100px; left: 105px;
  width: 0%;
  gap: 0;
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  
}
}

/* desktop L - 1920px */
@media (min-width:1920px) {
    .sound-button {
      position: absolute;
      top: 100px; left: 305px;
      width: 0%;
      gap: 0;
      display: inline-grid;
      grid-template-columns: repeat(10, 1fr);
  }
  }

/* 4k - 2560px*/
@media (min-width: 2560px){
  .sound-button{
    position: absolute;
  top: 100px; left: 700px;
    width: 0%;
      gap: 0;
      display: inline-grid;
      grid-template-columns: repeat(10, 1fr);
  }
  }


.sound-button button{
    width: 100px;
    height: 70px;
    line-height: 1.5;
    border: 2px solid #1b95c5;
    border-radius: 20%;
    text-align: center;
    font-size:70%;
    font-weight:bold;
    box-shadow: 0px 0px 20px rgb(3, 154, 214);
    color: rgb(255, 255, 255); 
    cursor: pointer; 
    background-color: black;
    
    }
  
  .sound-button button:hover{
    background: url();

  }





  


