

.button-page button {
  width: 90px;
  height: 90px;
  line-height: normal;
  border-radius: 40%;
  text-align: center;
  font-weight:bold;
  cursor: pointer; 
  background:transparent;
}

.button-page{
  display: flex;
}

/*Moive S - 320px*/
@media screen and (min-width:320px){
  .button-page{
  position: absolute;
  top: 0.5%; left: 34%;
  width: 0%;
 
  
}
}
/*Mobile M - 375px*/
@media (min-width:375px) {
.button-page {
  position: absolute;
  top: 0.5%; left: 46%;
  
}
  
}

/*Mobile L - 425px*/
@media (min-width:425px)  {
.button-page {
  position: absolute;
  top: 0.5%; left: 56.5%;
  
  
}
}

/*Tablet - 768px */
@media (min-width:768px)  {
.button-page {
  position: absolute;
  top: 0.5%; left: 39%;
  
  
}
}

/* Laptop - 1024px */
@media (min-width:1024px) {
.button-page{
  position: absolute;
  top: 0.5%; left: 41.5%;
}
}

/* Laptop L - 1440px */
@media (min-width:1440px) {
.button-page{
  position: absolute;
  top: 0.5%; left: 43.5%;
  
  
}
}

/* desktop L - 1920px */
@media (min-width:1920px) {
  .button-page{
    position: absolute;
    top: 0.5%; left: 44.5%;
    
    
  }
  }

  /* 4k - 2560px*/
@media (min-width: 2560px){
  .button-page{
    position: absolute;
    top: 0.5%; left: 45.9%;
    
    
  }
  }

    .button-page button:hover {
      background: url(http://jotain.xyz/gif/62156629.34499996_3x.gif) ;
      background-position: center;
  
    }

    
    

    


    
  