 

#box {
  width: 10;
  height: 0;
  margin: 0px;
  z-index: 9;
  position: relative;
  background-color: #444444;
  display: flex;
  justify-content: center;
}
  .navbar {
    padding: 0;
    margin: 0;
  }

  .navbar li {
    height: auto;
    width: 100px;
    float: left;
    text-align: center;
    list-style: none;
    font: "Fira Sans" 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #00000049;
  }
  .navbar a {
    padding: 18px 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
  }
  .navbar li:hover,
  a:hover {
    background-color: #0000003d;
  }
  .navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .navbar li:hover ul {
    display: block;
  }
  .navbar li ul li {
    background-color: #0000005b;;
  }
  .navbar li ul li a {
    border-left: 0px solid #0000005b;
    border-right: 0px solid #0000005b;
    border-top: 0px solid #000000;
    border-bottom: 0px solid #0000005b;
  }
  .navbar li ul li a:hover {
    background-color: #0000006c;
  }