

#menuToggle{
display: block;
position: relative;
z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a{
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}

#menuToggle a:hover{
  color: rgb(221, 23, 23);
}


#menuToggle input{
  display: block;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span{
  display: block;
  position: relative;
  background: #0eebcd;
  box-shadow: 1px 1px 30px rgb(16, 224, 155);
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),          
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #0fe0ac65;
  box-shadow: 1px 1px 10px rgba(16, 224, 155, 0.466);
}
/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu{
  position: absolute;
  background: #ededed;
  box-shadow: 10px 10px 20px rgb(0, 0, 0);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul{
  transform: none;
}
#menu li ul {
    display: none;
    transform: ease;
  }

#menu li:hover ul {
    display: block;
  }

  #menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
  }
  
  /*Moive S - 320px*/
@media screen and (min-width:320px){
  #menuToggle{
   width: 0;
    top: 65px;
    left: 40px;
} 
#menuToggle input{
  width: 40px;
  height: 32px;
  top:-65px; left: 260px;
}
#menuToggle span{
  top:-65px; left: 270px;
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
}
#menu{
  width: 50vw;
  margin: -100px  0 0 -50px;
  padding: 50px;
  padding-top: 5%;
}
#menu li{
  padding: 10px 0;
  padding:  0;
  font-size: 20px;
}
#menu li ul {
  height: auto;
  margin:  0px;
  padding: 0;
}
#menu a {
  padding: 5% 0;
}   
}

 /*Mobile M - 375px*/
 @media screen and (min-width:375px){
  #menuToggle{
    width: 0;
    top: 65px;
    left: 40px;
} 
#menuToggle input{
  width: 40px;
  height: 32px;
  top:-65px; left: 290px;
}
#menuToggle span{
  top:-65px; left: 300px;;
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
}
#menu{
  width: 50vw;
  margin: -100px  0 0 -50px;
  padding: 50px;
  padding-top: 5%;
}
#menu li{
  padding: 10px 0;
  padding:  0;
  font-size: 20px;
}
#menu li ul {
  height: auto;
  margin:  0px;
  padding: 0;
}
#menu a {
  padding: 5% 0;
}   
}

/*Mobile L - 425px*/
@media screen and (min-width:425px){
  #menuToggle{
    width: 0;
    top: 65px;
    left: 40px;
} 
#menuToggle input{
  width: 40px;
  height: 32px;
  top:-65px; left: 330px;
}
#menuToggle span{
  top:-65px; left: 340px;
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
}
#menu{
  width: 50vw;
  margin: -100px  0 0 -50px;
  padding: 50px;
  padding-top: 5%;
}
#menu li{
  padding: 10px 0;
  padding:  0;
  font-size: 20px;
}
#menu li ul {
  height: auto;
  margin:  0px;
  padding: 0;
}
#menu a {
  padding: 5% 0;
}   
}

/*Tablet - 768px */
@media (min-width:768px){
  #menuToggle{
    width: 0;
    top: 65px;
    left: 40px;
} 
#menuToggle input{
  width: 40px;
  height: 32px;
  top:-65px; left:38vw;
}
#menuToggle span{
  top:-65px; left: 38vw;
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
}
#menu{
  width: 30vw;
  margin: -100px  0 0 -50px;
  padding: 50px;
  padding-top: 5%;
}
#menu li{
  padding: 10px 0;
  padding:  0;
  font-size: 20px;
}
#menu li ul {
  height: auto;
  margin:  0px;
  padding: 0;
}
#menu a {
  padding: 5% 0;
}   
}

/* Laptop - 1024px */
@media (min-width:1024px) {
  #menuToggle{
    width: 0;
    top: 65px;
    left: 40px;
} 
#menuToggle input{
  width: 40px;
  height: 32px;
  top:-65px; left: 38vw;
}
#menuToggle span{
  top:-65px; left: 38vw;
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
}
#menu{
  width: 30vw;
  margin: -100px  0 0 -50px;
  padding: 50px;
  padding-top: 5%;
}
#menu li{
  padding: 10px 0;
  padding:  0;
  font-size: 20px;
}
#menu li ul {
  height: auto;
  margin:  0px;
  padding: 0;
}
#menu a {
  padding: 5% 0;
}   
}

/* Laptop L - 1440px */
@media (min-width:1440px) {
  #menuToggle{
    width: 0;
    top: 65px;
    left: 40px;
} 
#menuToggle input{
  width: 40px;
  height: 32px;
  top:-70px; left: 34vw;
}
#menuToggle span{
  top:-65px; left: 35vw;
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
}
#menu{
  width: 30vw;
  margin: -100px  0 0 -50px;
  padding: 50px;
  padding-top: 5%;
}
#menu li{
  padding: 10px 0;
  padding:  0;
  font-size: 20px;
}
#menu li ul {
  height: auto;
  margin:  0px;
  padding: 0;
}
#menu a {
  padding: 5% 0;
}   
}

/* desktop L - 1920px */
@media (min-width:1920px){
  #menuToggle{
    width: 0;
    top: 65px;
    left: 40px;
} 
#menuToggle input{
  width: 40px;
  height: 32px;
  top:-70px; left: 33.5vw;
}
#menuToggle span{
  top:-65px; left: 34vw;
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
}
#menu{
  width: 30vw;
  margin: -100px  0 0 -50px;
  padding: 30px;
  padding-top: 0px;
}
#menu li{
  padding: 10px 0;
  padding:  0;
  font-size: 20px;
}
#menu li ul {
  height: auto;
  margin:  0px;
  padding: 0;
}
#menu a {
  padding: 5% 0;
}   
}

/* 4k - 2560px*/
@media (min-width: 2560px){
  #menuToggle{
    width: 0;
    top: 65px;
    left: 40px;
} 
#menuToggle input{
  width: 40px;
  height: 32px;
  top:-70px; left: 22.5vw;
}
#menuToggle span{
  top:-65px; left: 23vw;
  width: 33px;
  height: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
}
#menu{
  width: 20vw;
  margin: -100px  0 0 -50px;
  padding: 50px;
  padding-top: 5%;
}
#menu li{
  padding: 10px 0;
  padding:  0;
  font-size: 20px;
}
#menu li ul {
  height: auto;
  margin:  0px;
  padding: 0;
}
#menu a {
  padding: 5% 0;
}   
}