

#menuToggle{
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    }
    
    #menuToggle a{
      text-decoration: none;
      color: #000000;
      transition: color 0.3s ease;
    }
    
    #menuToggle a:hover{
      color: rgb(221, 23, 23);
    }
    
    
    #menuToggle input{
      display: block;
      position: absolute;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }
    
    /*
     * Just a quick hamburger
     */
    #menuToggle span{
      display: block;
      position: relative;
      background: #0eebcd;
      box-shadow: 0px 0px 30px rgb(16, 224, 155);
      z-index: 1;
      transform-origin: 0%  0%;
      transition: transform 0.5s cubic-bezier(0.77,1.2,0.05,1.2),          
                  opacity 0.55s ease;
    }
    
    #menuToggle span:first-child{
      transform-origin: 0% 0%;
    }
    
    #menuToggle span:nth-last-child(2){
      transform-origin: 0% 0%;
    }
    /* 
     * Transform all the slices of hamburger
     * 
     */
    #menuToggle input:checked ~ span{
      opacity: 1;
      transform: rotate(0deg) translate(0px, 0px);
      background: #0fe0ac65;
      box-shadow: 1px 1px 10px rgba(16, 224, 155, 0.466);
    }
    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3){
      opacity: 0.1;
      transform: rotate(deg) scale(0.2, 0.2);
    }
    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2){
      opacity: 0.1;
      transform: rotate(deg) translate(0px, 0px);
    }
    /*
     * 
     * 
     */
    
    #menu{
      display: block;
      position: absolute;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      box-shadow:inset
      
        0 0 10px 0px rgba(253, 102, 1, 0.932),  /* inner */
        0 0 100px 30px rgb(248, 82, 5), /* middle */
        0 0 200px 40px rgb(189, 24, 240); /* outer */
       
      /* to stop flickering of text in safari */
      transform-origin: 50% 50%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.4,.05,1.0);
      transform: scale(0, 1);
    }
    
    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul{
      transform: none;
    }
    #menu li ul {
        display: none;
        transform: ease;

      }
    
    #menu li:hover ul {
        display: block;
      }
    
      #menu a {
        text-decoration: none;
        color: rgb(235, 233, 233);
        display: block;
      }
    
      
      
      /*Moive S - 320px*/
    @media screen and (min-width:320px){
      #menuToggle{
       width: 0%;
       top: 10vh;
       left: 10vw;
    } 
    #menuToggle input{
      width: 40px;
      height: 32px;
      top:-55px; left: 74vw;
    }
    #menuToggle span{
      top:-55px; left: 75vw;
      width: 33px;
      height: 5px;
      margin-bottom: 4px;
      border-radius: 3px;
    }
    #menu{
      border-radius: 50%;
      width: 270px;
      height: 300px;
    }
    #menu a {
      padding: 4% 25%;
      font-size: 15px;
    }   
    }
    
     /*Mobile M - 375px*/
     @media screen and (min-width:375px){
      #menuToggle{
        width: 0%;
       top: 10vh;
       left: 10vw;
    } 
    #menuToggle input{
      width: 40px;
      height: 32px;
      top:-55px; left: 74vw;
    }
    #menuToggle span{
      top:-55px; left: 75vw;
      width: 33px;
      height: 5px;
      margin-bottom: 4px;
      border-radius: 3px;
    }
    #menu{
      border-radius: 50%;
      width: 270px;
      height: 300px;
    }
    #menu a {
      padding: 4% 25%;
      font-size: 15px;
    }   
    }
    
    /*Mobile L - 425px*/
    @media screen and (min-width:425px){
      #menuToggle{
        width: 0%;
       top: 10vh;
       left: 10vw;
    } 
    #menuToggle input{
      width: 40px;
      height: 32px;
      top:-65px; left: 330px;
    }
    #menuToggle span{
      top:-55px; left: 340px;
      width: 33px;
      height: 5px;
      margin-bottom: 4px;
      border-radius: 3px;
    }
    #menu{
      border-radius: 50%;
      width: 270px;
      height: 300px;
    }
    #menu a {
      padding: 4% 25%;
      font-size: 15px;
    }   
    }
    
    /*Tablet - 768px */
    @media (min-width:768px){
      #menuToggle{
      width: 0%;
      top: 20vh;
      left: 30vw;
    } 
    #menuToggle input{
      width: 40px;
      height: 32px;
      top:-20vh; left: 60vw;
    }
    #menuToggle span{
      top:-20vh; left: 60vw;
      width: 33px;
      height: 5px;
      margin-bottom: 4px;
      border-radius: 3px;
    }
    #menu{
      border-radius: 50%;
      width: 270px;
      height: 300px;
    }
    #menu a {
      padding: 4% 25%;
      font-size: 15px;
    }   
    }
    
    /* Laptop - 1024px */
    @media (min-width:1024px) {
      #menuToggle{
        width: 0;
        top: 15vh;
        left: 32vw;
    } 
    #menuToggle input{
      width: 40px;
      height: 32px;
      top:-15vh; left: 55vw;
    }
    #menuToggle span{
      top:-15vh; left: 55vw;
      width: 33px;
      height: 5px;
      margin-bottom: 4px;
      border-radius: 3px;
    }
    #menu{
      border-radius: 50%;
      width: 300px;
      height: 320px;
    }
    #menu a {
      padding: 4.5% 20%;
      font-size: 15px
    }   
    }
    
    /* Laptop L - 1440px */
    @media (min-width:1440px) {
      #menuToggle{
        width: 0;
        top: 15vh;
        left: 33vw;
    } 
    #menuToggle input{
      width: 40px;
      height: 32px;
      top:-15vh; left: 60vw;
    }
    #menuToggle span{
      top:-15vh; left: 60vw;
      width: 33px;
      height: 5px;
      margin-bottom: 4px;
      border-radius: 3px;
    }
    #menu{
      border-radius: 50%;
      width: 400px;
      height: 420px;
    }
    
    #menu a {
      padding: 4% 30%;
      font-size: 20px
    }   
    }
    
    /* desktop L - 1920px */
    @media (min-width:1920px){
      #menuToggle{
        width: 0%;
        top: 5vh;
        left: 39vw;
    } 
    #menuToggle input{
      width: 333px;
      height: 132px;
      top:-5vh; left: 2vw;
    }
    #menuToggle span{
      top:-5vh; left: 2vw;
      width: 333px;
      height: 10px;
      margin-bottom: 20px;
      border-radius: 3px;
    }
    #menu{
      border-radius: 50%;
      width: 400px;
      height: 420px;
    }

    #menu a {
      padding: 5% 25%;
      font-size: 20px
    }   
    }
    
    /* 4k - 2560px*/
    @media (min-width: 2560px){
      #menuToggle{
        width: 0;
        top: 20vh;
        left: 43vw;
    }
    
    #menuToggle input{
        width: 333px;
        height: 132px;
      top:-15vh; left: 2vw;
    }
    #menuToggle span{
      top:-15vh; left: 2vw;
      width: 333px;
      height: 10px;
      margin-bottom: 20px;
      border-radius: 3px;
    }
    #menu{
      border-radius: 50%;
      width: 400px;
      height: 420px;
    }

    #menu a {
      padding: 5% 25%;
      font-size: 20px
    }
  }   
    


    

    