


* {
  box-sizing: border-box;
}

body{
  background: rgb(0, 0, 0);
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.title{
  text-align: center;
  color: white;
}

.gallery-grid{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: solid #5B6DCD 1px;
  width: 50vw;
  position: absolute;
  left:25vw
  
}

/* three columns next to each other*/
.gallery-column{
  -ms-flex: 25%;
  flex: 25%;
  max-width: 100%;
  padding: 0 0.2vw;
}

.gallery-column img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* two columns */
@media screen and (max-width: 1020px) {
  .gallery-column{
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* one columm */
@media screen and (max-width: 600px) {
  .gallery-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}






