*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.button-group{
  position: absolute;
  top: 10px; left: 30px;
  max-height: 10px;
  max-width: 40px;
  padding: 5px;
  display: flex;
}

  .button-group button {
      width: 100px;
      height: 100px;
      line-height: 1;
      border: 2.5px solid #1b95c5;
      border-radius: 50%;
      text-align: center;
      font-weight:lighter;
      box-shadow: 0px 0px 20px rgb(3, 154, 214);
      color: rgb(255, 255, 255); 
      cursor: pointer; 
      background:transparent;
  
    }
  
    .button-group button:hover {
      background: url(http://jotain.xyz/gif/62156629.34499996_3x.gif) ;
      background-position: center;
  
    }


    
  