
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sound-button {
  max-width: 50vw;
  object-fit: contain;
  margin:  120px auto;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  
}

.sound-button button{
    width: 100px;
    height: 70px;
    line-height: 1.5;
    border: 2px solid #1b95c5;
    border-radius: 20%;
    text-align: center;
    font-size:70%;
    font-weight:bold;
    box-shadow: 0px 0px 20px rgb(3, 154, 214);
    color: rgb(255, 255, 255); 
    cursor: pointer; 
    background-color: black;
    
    }
  
  .sound-button button:hover{
    background: url();
  }

  html { 
    background: url(Image/Qt33gA4-bender-wallpaper.jpg) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}



  


