 *{
    box-sizing: border-box;
  
}
  

    /* smartphones, iPhone, portrait 480x320 phones */
    @media (min-width:320px){
      .container{
        margin: 10% auto;
        padding: 10px;
        display: inline-grid;  
        grid-template-columns: 1fr;
  }
}
    /*portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    @media (min-width:480px) {
    .container {
      margin:  0% auto;
      padding: 10px;
      display: inline-grid;  
      grid-template-columns: 1fr;
   }
}

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width:641px)  {
    .container {
      margin:  0% auto;
      padding: 10px;
      display: inline-grid;  
      grid-template-columns:repeat(2, 1fr);
   }
}

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width:961px)  {
    .container {
      margin:  0% auto;
      padding: 10px;
      display: inline-grid; 
      grid-template-columns:repeat(3, 1fr);
   }
}

  /* big landscape tablets, laptops, and desktops */
  @media (min-width:1025px) {
    .container {
      margin:  0% auto;
      padding: 10px;
      gap: 0;
      display: inline-grid;  
      grid-template-columns:repeat(3, 1fr);
   }
}

  /* hi-res laptops and desktops */
  @media (min-width:1281px) {
    .container {
      position: absolute;
      top: 100px; left: 110px;
      gap: 0;
      display: inline-grid;  
      grid-template-columns: repeat(4, 1fr);
   }
}

@media (min-width:2540px) {
  .container {
    position: absolute;
    top: 100px; left: 30px;
    gap: 0;
    display: inline-grid;  
    grid-template-columns: repeat(5, 1fr);
 }
}

  video, img {
      max-width: 100vw;
      max-height: 100vh;
      object-fit: contain;
}

  html { 
    background-color: rgba(0, 0, 0, 0.952);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
 
     